<div class="d-flex flex-wrap justify-content-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Genres</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">All Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/101">Action</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/102">Sci-Fi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/103">Adventure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/104">Thriller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/105">Fantasy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/106">Comedy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/107">Animation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="genre/108">Family</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
