@page "/play/{Id:int}"
@inject IMembershipService MembershipService

<h2 class="text-center">Maximus Film Entertainment</h2>

<a class="btn btn-primary rounded-0 mb-1" href="/film/@Film.Id">
    <i class="oi oi-arrow-left"></i><span class="vertical-align"> Back to @Film.Title</span>
</a>

<div class="card flex-fill rounded-0">

    <h2>@Film.Title</h2>

    @if (Film.FilmUrl != null)
    {
        @*The video player is an <iframe> with its src (source) attribute set to the value of the video’s FilmUrl property. The <iframe> is placed inside a <div> to style it to specification. Only display the player if the
        video’s Url property is not null*@
        <div class="video-player">
            <iframe width="420" height="315"  src="@Film.FilmUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; encrypted-media" allowfullscreen></iframe>
        </div>
    }
</div>

<a class="btn btn-primary rounded-10 mb-1 " href="/">
    <i class="oi oi-arrow-left"></i><span class="vertical-align"> Back to Dashboard</span>
</a>

@code {
    [Parameter] public FilmDTO Film { get; set; } = new();
    [Parameter] public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Film = await MembershipService.GetFilmAsync(Id);
    }

}